<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

    <link href="../assets/bootstrapcss/style.css" rel="stylesheet">

</head>
<body class="bg-dark">
    <header class="container">
        <div class="d-flex flex-fill justify-content-center py-3 mb-4 border-bottom p-3 bg-dark text-white">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4" style=" margin-left:15px;">HKJang's Blog</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link text-light" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-light">About</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>
          <form>
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        
    </header>

    
</body>
</html>