<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .nav-pills > .nav-item > .active {
          color : white;
          background-color : black;
        }
      
      </style>

</head>
<body>
    <header class="container">
        <div class="d-flex flex-fill py-3 mb-4 border-bottom p-3">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-body">
            <span class="fs-4 ms-3">HKJang's Blog</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link text-body" >About Me</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-body">Projects</a></li>
            <li class="nav-item"><a href="index_admin" class="nav-link active" aria-current="page">Modify Index</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2">
            <input type="search" class="form-control form-control-dark ms-3" placeholder="Search..." aria-label="Search">
          </form>
          <form>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </header>
  <main class="container">
    <form action="/api/changeAboutme" method="post" id="changeAboutmeForm">
      <div class="row d-flex col-md-12 justify-content-center">
          <div class="mb-3 col-md-6">
              <label for="postTitle" class="form-label">제목</label>
              <input type="text" class="form-control" id="postTitle" placeholder="제목" name="postTitle">
          </div>
          <div class="col-md-2">
              <label for="postId" class="form-label">글 순서</label>
              <select class="form-select" aria-label="Order of Aboutme" id="postId" name="postId">
                  <option selected>글 순서를 정해주세요..</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
              </select>
          </div>
      </div>
      <div class="row d-flex col-md-12 justify-content-center">
          <div class="mb-1 col-md-8">
              <div class="col-md-12">
                  <label for="postPhoto" class="form-label">사진 선택</label>
                  <input class="form-control form-control-sm" id="postPhoto" type="file" name="postPhoto">
              </div>
          </div>
      </div>

      <div class="row d-flex col-md-12 justify-content-center">
          <div class="mb-3 col-md-8">
              <label for="postContent" class="form-label">내용</label>
              <textarea class="form-control" id="postContent" rows="20" name="postContent"></textarea>
          </div>
      </div>
      <div class="row d-flex col-md-12 justify-content-center">
          <div class="mb-3 col-md-8 justify-content-start row form-group">
            <button type="submit" class="btn btn-dark col-md-2 me-2" value="aboutmeInsert" name="action">등록/업데이트</button>
            <button type="submit" class="btn btn-danger col-md-2" value="aboutmeDelete" name="action">삭제</button>
          </div>
      </div>
  </form>
    
  </main>
  <footer class="container">

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    
  </script>
<script>
function getValue(){
  var sel = document.getElementById("postId").value
  fetch(`http://localhost:3000/api/aboutme/${sel}`)
  .then((response)=>response.json())
  .then(function(data){
    if(Object.keys(data).length > 0){
      document.getElementById("changeAboutmeForm").action = data[0].id; // 여기 마저 제대로 작업하기!
      if(confirm('원 글을 불러오시겠습니까?')){
        document.getElementById("postTitle").value = data[0].title;
        document.getElementById("postContent").value = data[0].content;
      }
    }
  }
  );
}
document.getElementById("postId").addEventListener("change", getValue);

</script>

</body>
</html>