<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
      

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .nav-pills > .nav-item > .active {
          color : white;
          background-color : black;
        }
      
      </style>
      <script src="https://cdn.tiny.cloud/1/vy3lklpfrj9a8l0jkefxe602pse728rb6ku0bqjf3i2cmqak/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
      <script>
          tinymce.init({
            selector: '#mytextarea'
          });
      </script>
</head>
<body>
    <header class="container">
        <div class="d-flex flex-fill py-3 mb-4 border-bottom p-3">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-body">
            <span class="fs-4 ms-3">HKJang's Blog</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link text-body" >About Me</a></li>
            <li class="nav-item"><a href="project" class="nav-link active">Projects</a></li>
            <li class="nav-item"><a href="index_admin" class="nav-link text-body" aria-current="page">Modify Index</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2">
            <input type="search" class="form-control form-control-dark ms-3" placeholder="Search..." aria-label="Search">
          </form>
          <form>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </header>
  <main class="container">
    <form method="post">
        <textarea id="mytextarea">Hello, World!</textarea>
      </form>
  </main>
  <footer class="container">

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script>
  </script>
</body>
</html>